{%  extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home {% endblock %}

{# si je redéfinis le contenu, j'écrase le contenu présent dans la base #}
{% block body %}


<h1>Welcome to BucketList !</h1>


{% endblock %}