body {
    background: radial-gradient(circle, rgba(186,135,100,0.6685049019607843) 7%, rgba(255,255,255,1) 100%, rgba(57,161,182,1) 100%);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
}
header{
    justify-content: center;
    text-align: center;


}

#img1{
    height: 160px;
}


.flex{
    display:flex;
    list-style: none;

    justify-content: space-evenly;



}

h1 {
    text-align: center;
}



.flex a {
    text-decoration: none ;
    color : black;

}
.flex a:hover {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


footer{
    color : black;
}

.FlexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 30px;

    width: 35vw;
    text-align: center;
}

.FlexColumn a{
    text-decoration: none;
    color : #5c4f41;
}

.FlexColumn a:hover {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
