<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/font.css') }}">

        <link rel="stylesheet" href="{{ asset('css/normalize.css')}}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="icon" href="{{ asset('img/The_bucket_list.svg') }}" />
    </head>
    <body>
    <div class="container">
    <header>
        <h1>
            {% include 'header/header.html.twig' %}
            {% include 'header/nav.html.twig' %}
        </h1>
    </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    <footer>
        {% include 'footer/footer.html.twig' %}
    </footer>
    </div>
    </body>
</html>
